
/*body {
	text-align: center;
	 width: 970px; 
    margin: 0 auto;
    background-color: #dbdddf
}*/

nav.navbar.navbar-expand-lg.navbar-dark {
    background-color: #f97370 !important;
}

.btn-primary {
    background-color: #f97370 !important;
}

a.nav-link {
    font-weight: 600 !important;
    font-size: 1.5em !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #2e86c1 !important;
}

.nav-link {
    margin-left: 769px !important;
}

img.d-inline-block.align-top {
    padding: 20px !important;
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    width: -webkit-fill-available;
    position: fixed !important;
    z-index: 2000 !important;
}

body {
    font-family: sans-serif;
}

#section1 {
    height: 800px;
    border-radius: 15px;
}

#section2 {
    height: 800px;
  /* background-color: yellow; */
}
#section3 {
    height: 1000px;
  /* background-color: yellow; */
}
.backgroundcolor {
    background-color: #f3bed8;
    width:100%;
}
.backgroundcolor h2{
    padding :15px
}
.page_desc {
/* bottom: -8px; */
font-size: 21px;
right: 1em;
margin-bottom: 4.5rem;
display: inline-flex;
padding-top: 10%;

}

a.btn.btn-primary.btn-small {
    margin-left: 49% !important;
}

button {
    margin-left: 40px;
    background:rgb(226,23,118) ;
}
.nav-link{
    margin-left: 317px;
}

    nav{
        /* border-radius: 80px; */
        margin-bottom: 23px;    }

.btn-primary{
    background:rgb(226,23,118) ;
}
.form-control{
    border-color: rgb(226,23,118);
}
/*  f{
    margin-top: 18%;
} */

/* li.nav-item {
    margin-top: 11% !important;
} */

footer,
.footer-classic a {
    color: white !important;
}

.btn-success,
.btn-outline-success:hover {
    color: #fff;
    background-color: rgb(226,23,118) !important;
    border-color:rgb(226,23,118) !important;
}

img.brand-logo-light {
    width: 100px !important;
    height: 59px !important;
}


.navbar-expand-lg .navbar-nav {
    flex-direction: column-reverse !important;
}
