<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->

    <link rel="stylesheet" href="static/css/test.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
</head>
<body>  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style=" background-color: #f97370 !important;font-weight: 50 !important;font-size: 1.2em !important;">
        
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
               
                Female Power
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item " style=" margin-left: 16%;">
                        <a class="nav-link-edit" style="color: #fff;" href="/allpostcommunity">community</a>
                    </li>
                    <li class="nav-item" style="margin-left: 28%;">
                        <a class="nav-link-edit " style="color: #fff;" href="/update_profile">profile</a>
                    </li>
                    <li class="nav-item" style="margin-left: 32%;">
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width: 170px;color: #2e86c1 !important;">
                            <button class="btn btn-outline-success" type="submit"  style=" font-size: 92%!important; color: white !important; border-color: white !important;">Search</button>
                        </form>
                    </li>
                <li class="nav-item">
                    <a class="nav-link-edit" style="color: #fff;margin-left: 200%;" href="/logout">logout</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            
        </div>
        <div class="row"style=" width: 214%;">
        <div class="col-md-6">
            <div class="widget-area no-padding blank">
                <div class="status-upload">
                    <h3> Add an Opportunity </h3>
                    <form action ="/addpost" method="post">
                        {% csrf_token %}
                        <!-- <textarea placeholder="What are you doing right now?" > -->
                        <label for="title">Opportunity Title: </label>
                            <br>
                            <input type="text" id="title" name="title" style="border: none;" required>
                            <br>
                            <label for="content">Description: </label>
                            <br>
                            <textarea name="content" id="content" cols="22" rows="5"></textarea>
                        
                        <button type="submit" class="btn btn-success green" style="background-color: #f97370 !important"><i class="fa fa-share"></i> POST</button>
                    </form>
                </div>
            </div>
        </div>
            
        </div>
    </div>
    <br/><br/>
    <div>
        <h3 style ="margin-left: 10%;">Opportunities Board </h3>
        {% for post in posts %}
        <div class="post">
            <label>Posted By: <a href="/update_profile">{{post.user_post.first_name}} {{post.user_post.last_name}}</a>
                <br>
            {{post.title}}: "{{post.content}}"
            <br>
            <!-- {% if looged_user.id == post.user.id %}
            <a href="/delete/{{post.id}}">Delete</a>
            {% endif%}
        <br> -->
        
        <output style="margin-left: 75%; color: #f97370;"> Time :{{post.updated_at}}</output>
        <br/>
        <button type="submit"class="btn btn-success green"><a href ="/posts/{{post.id}}" style="background-color: #f97370 !important;color: white;"> Show</a></button>
        </label>
        </div><br>
        {% endfor %}
    </div>



<br>
  

</body>
</html>